.exchanges-container {
  display: flex;
  justify-content: center;
  width: 68%;
}

.exchanges {
  position: relative;
  width: 100%;
}

.exchanges-title {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.exchanges-title::after {
  position: absolute;
  left: 440px;
  top: 28px;
  content: "";
  width: calc(100% - 440px);
  height: 2px;
  background-color: black;
}

.exchanges-title::before{
  position: absolute;
  left: 0;
  top: 28px;
  content: "";
  width: calc(1rem - 7px);
  height: 2px;
  background-color: black;
}

.exchanges-body {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 2rem;
  height: calc(100vh - 160.8px);
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: auto;
}

.exchange-info {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.exchange-info::after {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
}

.img {
  margin-right: 1rem;
  width: 100px;
  height: 100px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}