.container-de-containers {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
}

.exchanges-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.exchanges {
  position: relative;
  width: 100%;
}

.exchanges-title {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.exchanges-title::after {
  position: absolute;
  left: 265px;
  top: 28px;
  content: "";
  width: calc(100% - 265px);
  height: 2px;
  background-color: black;
}

.exchanges-title::before{
  position: absolute;
  left: 0;
  top: 28px;
  content: "";
  width: calc(1rem - 7px);
  height: 2px;
  background-color: black;
}

.exchanges-body {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 2rem;
  height: calc(100vh - 160.8px);
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: auto;
}

.exchange-info {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.exchange-info::after {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
}

.img {
  margin-right: 1rem;
  width: 165px;
  height: 165px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
td {
  text-align: center;
  cursor: pointer;
}

th {
  text-align: center;
}

.filtros {
  max-width: 20%;
  margin-top: 60px;
  margin-left: 20px;
  padding-inline: 20px;
  border-radius: 10px;
}

.filtro p {
  display: block;
  margin: 0;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.cantidad-tipo {
  margin-left: 0.3rem;
  opacity: 0.6;
}

.titulo-filtro {
  margin: 0;
  margin-bottom: 0.5rem;
}

.filtro-aplicados {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.filtro-aplicado {
  display: flex;
  align-items: center;
  width: max-content;
  padding-inline: 0.5rem;
  padding-block: 0.1rem;
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.eliminar-filtro {
  position: relative;
  margin-left: 1rem;
  width: 10px;
  height: 10px;
}

.eliminar-filtro::after {
  position: absolute;
  content: "";
  top: 4px;
  left: -1px;
  width: 12px;
  height: 1px;
  transform: rotate(45deg);
  background-color: black;
}

.eliminar-filtro::before {
  position: absolute;
  content: "";
  top: 4px;
  left: -1px;
  width: 12px;
  height: 1px;
  transform: rotate(-45deg);
  background-color: black;
}

.botoncito-de-decoracion {
  background-color: #1076ebb2;
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.botoncito-de-decoracion:hover {
  background-color: #0f93ff;
  color: #ddd; 
}