.exchanges-container {
  display: flex;
  justify-content: center;
  width: 68%;
}

.exchanges {
  position: relative;
  width: 100%;
}

.exchanges-title {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.exchanges-title::after {
  position: absolute;
  left: 270px;
  top: 28px;
  content: "";
  width: calc(100% - 272px);
  height: 2px;
  background-color: black;
}

.exchanges-title::before {
  position: absolute;
  left: 0;
  top: 28px;
  content: "";
  width: calc(1rem - 7px);
  height: 2px;
  background-color: black;
}

.exchanges-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  height: calc(100vh - 160.8px);
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: auto;
}