.publicaciones-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 1rem;
  width: 75%;
}

.publicaciones-title {
  margin-left: 1rem;
  margin-bottom: 0;
}

.publicaciones-title::after {
  position: absolute;
  left: 276px;
  top: 28px;
  content: "";
  width: calc(100% - 276px);
  height: 2px;
  background-color: black;
}

.publicaciones-title::before {
  position: absolute;
  left: 0;
  top: 28px;
  content: "";
  width: calc(1rem - 7px);
  height: 2px;
  background-color: black;
}

.publicacion {
  position: relative;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 180px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  transition: all ease-in 150ms;
}

.publicacion:hover {
  transform: scale(1.002);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
  transition: all ease-in 150ms;
}

.img {
  position: relative;
  width: 700px;
  height: 100%;
  margin-block: auto;
  border-radius: 5px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  padding-block: 1rem;
}

.img::after {
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 2px;
  height: 90%;
  background-color: black;
}

.publicacion-info {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-right: 3rem;
  padding-left: 1rem;
  width: 90%;
  border-radius: 5px;
}

.container-de-containers {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
}

.publicaciones-container {
  flex-grow: 1;
  max-width: 1000px;
  margin-right: 20px;
}

.cuadradito {
  width: 300px;
  max-width: 200px;
  border-left: 1px solid #000;
  margin-left: 20px;
  background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(12,12,113,1) 55%, rgba(38,140,161,1) 100%);
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  margin-top: 55px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.ayudasdebusqueda {
    max-width: 20%;
    margin-top: 60px;
    margin-left: 20px;
    padding-inline: 20px;
    border-radius: 10px;
}

.filtro p {
  display: block;
  margin: 0;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.cantidad-tipo {
  margin-left: 0.3rem;
  opacity: 0.6;
}

.titulo-filtro {
  margin: 0;
  margin-bottom: 0.5rem;
}

.filtro-aplicados {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.filtro-aplicado {
  display: flex;
  align-items: center;
  width: max-content;
  padding-inline: 0.5rem;
  padding-block: 0.1rem;
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.eliminar-filtro {
  position: relative;
  margin-left: 1rem;
  width: 10px;
  height: 10px;
}

.eliminar-filtro::after {
  position: absolute;
  content: "";
  top: 4px;
  left: -1px;
  width: 12px;
  height: 1px;
  transform: rotate(45deg);
  background-color: black;
}

.eliminar-filtro::before {
  position: absolute;
  content: "";
  top: 4px;
  left: -1px;
  width: 12px;
  height: 1px;
  transform: rotate(-45deg);
  background-color: black;
}

.botoncito-de-decoracion {
  background-color: #1076ebb2;
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.botoncito-de-decoracion:hover {
  background-color: #0f93ff;
  color: #ddd; 
}

form {
  color: #001529;
  display: flex;
  padding: 10px;
  justify-content: center;
}

input {
  border: 2px solid black;
  color: #001529;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
}

.btn-primary {
  background-color: black;
  border: none;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: rgb(84, 84, 84);
  border-color: #40a9ff;
  color: #ffffff;
}

.btn-primary:focus {
  background-color: rgb(84, 84, 84) !important;
  border-color: #40a9ff;
  color: #ffffff;
}