@page "/buscarperfil"
@inject NavigationManager Navegador
@inject userListUseCase userListUseCase
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage

<DialogoError @ref=dialogo/>

<form onsubmit="return false">
    <input type="text" placeholder="Search..." @bind="searchTerm"></input>
    <button @onclick="SubmitForm" class="btn btn-primary">Search</button>
</form>

@code {
    DialogoError dialogo = null!;
    User? user;
    string searchTerm = "";
    private void SubmitForm() {

        user = userListUseCase.Execute().Find(user => user.userName == searchTerm);

        if (user == null){
            dialogo.Mostrar("El usuario " + searchTerm + " no existe.");
            return;
        }

        Navegador.NavigateTo("/profile/" + user.Id, true);

    }
}