@page "/buscarperfil"
@inject NavigationManager Navegador
@inject userListUseCase userListUseCase
@inject employeeListUseCase employeeListUseCase
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage

<DialogoError @ref=dialogo/>

<form onsubmit="return false">
    <input type="text" placeholder="Search..." @bind="searchTerm"></input>
    <button @onclick="SubmitForm" class="btn btn-primary">Search</button>
</form>

@code {
    DialogoError dialogo = null!;
    User? user;
    Employee? employee;
    string searchTerm = "";
    private void SubmitForm() {

        user = userListUseCase.Execute().Find(user => user.userName == searchTerm);

        if (user == null){
            employee = employeeListUseCase.Execute().Find(employee => employee.userName == searchTerm);
            if (employee == null){
                dialogo.Mostrar("El usuario " + searchTerm + " no existe.");
                return;
            } else {
                Navegador.NavigateTo("/profileemployee/" + employee.Id, true);    
            }
        } else {
            Navegador.NavigateTo("/profile/" + user.Id, true);
        }
    }

}