@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject NavigationManager Navegador
@inject ProtectedSessionStorage sessionStorage
@inject IWebHostEnvironment Environment

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (userId == 0) {
            <div class="top-row px-4">
                <div class="searchBar">
                    <SearchBar />
                </div>
                <div>
                    <a href="login" class="btn btn-primary">Login</a>
                    <a href="register" class="btn btn-primary">Sign up</a>
                </div>
            </div>
        }
        else {
            <div class="top-row px-4">
                <div class="searchBar">
                    <SearchBar />
                </div>
                <div>
                        @if (isEmployee) {
                            if (userId == 1) {
                               <MenuPerfilAdmin />
                            }
                            else {
                                <MenuPerfilEmployee />
                            }
                        }
                        else {
                            <MenuPerfil />
                        }
                </div>
            </div>
        }

        <CargarVehiculo />
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    qué rompimo muchacho
    <a href="" class="reload">recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    int userId;
    bool isEmployee;

    protected override async Task OnInitializedAsync() {
        var result  = await sessionStorage.GetAsync<bool>("isEmployee");
        isEmployee = result .Success ? result.Value : false;
        var result2 = await sessionStorage.GetAsync<int>("userId");
        userId = result2.Success ? result2.Value : 0;
    }

}
