@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject NavigationManager Navegador
@inject ProtectedSessionStorage sessionStorage
@inject IWebHostEnvironment Environment

@if (shouldDisplay) {

    <div class="page">
        <main>
            <div class="top-row px-4">
                @if (isEmployee && userId != 1) {
                    <a class="navbar-brand" style="cursor:pointer;" href="homeemployee">
                        Oh My Boat!
                        <img src="Oh_My_Boat_logo_4.jpg" alt="">
                    </a>
                }
                else {
                    <a class="navbar-brand" style="cursor:pointer;" @onclick="() => NavigateToHome()">
                        Oh My Boat!
                        <img src="Oh_My_Boat_logo_4.jpg" alt="">
                    </a>
                }
                <div class="searchBar">
                    <SearchBar />
                </div>
                @if (userId == 0) {
                    <div class="d-flex" style="gap:.8rem;height:40px">
                        <a href="login" style="text-decoration:none;" class="btn black_btn">Iniciar Sesión</a>
                        <a href="register" style="text-decoration:none;" class="btn black_btn">Registrarse</a>
                    </div>
                }
                else {
                    <div>
                        @if (isEmployee) {
                            if (userId == 1) {
                                <MenuPerfilAdmin />
                            }
                            else {
                                <MenuPerfilEmployee />
                            }
                        }
                        else {
                            <MenuPerfil OnAbiertoVehiculo="CerrarCartelVehiculo" OnAbiertoBarco="CerrarCartelBarco" OnListarPublicaciones="AbrirListarPublicaciones" />
                        }
                    </div>
                }
            </div>

            <CargarVehiculo @ref="cargarVehiculo" />
            <CargarBarco @ref="cargarBarco" />
            <ListarPublicacionesPropias @ref="listarPublicaciones" />

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

}

<div id="blazor-error-ui">
    Ha ocurrido un error
    <a href="" class="reload">recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool shouldDisplay = false;
    private int userId;
    private bool isEmployee;

    ListarPublicacionesPropias listarPublicaciones = null!;
    CargarVehiculo cargarVehiculo = null!;
    CargarBarco cargarBarco = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var result  = await sessionStorage.GetAsync<bool>("isEmployee");
            isEmployee = result .Success ? result.Value : false;
            var result2 = await sessionStorage.GetAsync<int>("userId");
            userId = result2.Success ? result2.Value : 0;

            shouldDisplay = true;

            StateHasChanged();
        }
    }

    public void CerrarCartelVehiculo() {
        cargarVehiculo.CerrarCartel();
    }

    public void CerrarCartelBarco() {
        cargarBarco.CerrarCartel();
    }

    public void AbrirListarPublicaciones() {
      listarPublicaciones.Cargar();
    }

    private void NavigateToHome() {
        Navegador.NavigateTo("/", true);
    }
}
