@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase

@inject NavigationManager Navegador
@inject ProtectedSessionStorage sessionStorage
@inject IWebHostEnvironment Environment
<DialogoConfirmacion @ref="dialogo" OnConfirmado="CerrarSesion"/>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (userId == 0) {

            <div class="top-row px-4">
                <div class="searchBar">
                    <SearchBar />
                </div>
                <div>
                    <a href="login" class="btn btn-primary">Login</a>
                    <a href="register" class="btn btn-primary">Sign up</a>
                </div>
            </div>

        }
        else {
            <div class="top-row px-4">
                <div class="dropdown">
                    <i class='bx bxs-user-circle' style="font-size: 40px;cursor:pointer;color:#0d6efd;" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu">
                        @if (isEmployee) {
                            if (userId == 1) {
                                <li><a class="dropdown-item" href="profileadmin/@userName">Mi perfil</a></li>
                            }
                            else {
                                <li><a class="dropdown-item" href="profileemployee/@userName">Mi perfil</a></li>
                            }
                        }
                        else {
                            <li><a class="dropdown-item" href="profile/@userName">Mi perfil</a></li>
                        }
                        <li><a class="dropdown-item" href="cambiarcontraseña">Cambiar contraseña</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal"data-bs-target="#cargarVehiculoModal">Cargar vehículo</a></li>
                        <li><a class="dropdown-item" @onclick="ConfirmarCerrarSesion">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        }

        <CargarVehiculo />
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    qué rompimo muchacho
    <a href="" class="reload">recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    int userId;
    string userName;
    bool isEmployee;
    DialogoConfirmacion dialogo = null!;

    protected override async Task OnInitializedAsync() {
        var result  = await sessionStorage.GetAsync<bool>("isEmployee");
        isEmployee = result .Success ? result.Value : false;
        var result2 = await sessionStorage.GetAsync<int>("userId");
        userId = result2.Success ? result2.Value : 0;
        var result3 = await sessionStorage.GetAsync<string>("userName");
        userName = result3.Success ? result3.Value : "404";
    }

    private void ConfirmarCerrarSesion() {
        dialogo.Mostrar("¿Seguro que deseas cerrar la sesión?");
    }

    public async Task CerrarSesion() {
        await sessionStorage.DeleteAsync("userId");
        await sessionStorage.DeleteAsync("isEmployee");
        await sessionStorage.DeleteAsync("userName");
        Navegador.NavigateTo("/", true);
    }

}
