@page "/menuperfil"
@inject userListUseCase userListUseCase
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager Navegador

<DialogoConfirmacion @ref="dialogo" OnConfirmado="CerrarSesion"/>

<div class="dropdown">
    <i class='bx bxs-user-circle' style="font-size: 45px;cursor:pointer;color:black;" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" style="cursor:pointer" @onclick=CargarPerfil >Mi perfil</a></li>
        <li><a class="dropdown-item" style="cursor:pointer" @onclick=CerrarCartelVehiculo data-bs-toggle="modal"data-bs-target="#cargarVehiculoModal">Cargar vehículo</a></li>
        <li><a class="dropdown-item" style="cursor:pointer" @onclick=CerrarCartelBarco data-bs-toggle="modal"data-bs-target="#cargarBarcoModal">Cargar barco</a></li>
        <li><a class="dropdown-item" style="cursor:pointer" @onclick=AbrirListarPublicaciones data-bs-toggle="modal"data-bs-target="#listarPublicacionesPropiasModal">Mis Publicaciones</a></li>
        <li><a class="dropdown-item" style="cursor:pointer" href="listarmisofertas">Mis Ofertas</a></li>
        <li><a class="dropdown-item" style="cursor:pointer" href="listarmisintercambios">Mis Intercambios</a></li>
        <li><a class="dropdown-item" style="cursor:pointer" href="cambiarcontraseña">Cambiar contraseña</a></li>
        <li><a class="dropdown-item" style="cursor:pointer" @onclick="ConfirmarCerrarSesion">Cerrar sesión</a></li>
    </ul>
</div>

@code {
    User? user = new User();
    int userId;
    DialogoConfirmacion dialogo = null!;

    protected override async Task OnInitializedAsync() {
        var result2 = await sessionStorage.GetAsync<int>("userId");
        userId = result2.Success ? result2.Value : 0;
        user = userListUseCase.Execute().Find(user => user.Id == userId);
    }

    public void CargarPerfil(){
        Navegador.NavigateTo("profile/" + user?.userName, true);
    }

    private void ConfirmarCerrarSesion() {
        dialogo.Mostrar("¿Seguro que deseas cerrar la sesión?");
    }

    public async Task CerrarSesion() {
        await sessionStorage.DeleteAsync("userId");
        await sessionStorage.DeleteAsync("isEmployee");
        await sessionStorage.SetAsync("cartel?", "Sesion cerrada correctamente");
        Navegador.NavigateTo("/", true);
    }

    [Parameter]
    public EventCallback OnAbiertoVehiculo { get; set; }

    void CerrarCartelVehiculo() {
        OnAbiertoVehiculo.InvokeAsync();
    }

    [Parameter]
    public EventCallback OnAbiertoBarco { get; set; }

    void CerrarCartelBarco() {
        OnAbiertoBarco.InvokeAsync();
    }

    [Parameter]
    public EventCallback OnListarPublicaciones { get; set; }

    void AbrirListarPublicaciones() {
        OnListarPublicaciones.InvokeAsync();
    }
}