@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject NavigationManager Navegador
@inject ProtectedSessionStorage sessionStorage
@inject IWebHostEnvironment Environment

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @if (isEmployee) {
            <a class="navbar-brand" href="homeemployee">Oh My Boat!</a>
        }
        else {
            <a class="navbar-brand" href="/">Oh My Boat!</a>
        }
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userlist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista de usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employeelist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista de empleados
            </NavLink>
        </div>
    </nav>
</div>

@code {
    int userId;
    bool isEmployee;

    protected override async Task OnInitializedAsync() {
        var result  = await sessionStorage.GetAsync<bool>("isEmployee");
        isEmployee = result .Success ? result.Value : false;
        var result2 = await sessionStorage.GetAsync<int>("userId");
        userId = result2.Success ? result2.Value : 0;
    }

}