form {
    color: #001529;
    display: flex;
    padding: 10px;
    justify-content: center;
}

input {
    border: 2px solid black;
    color: #001529;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    width: 500px;
}

.btn-primary {
    background-color: black;
    border: none;
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: rgb(84, 84, 84);
    border-color: #40a9ff;
    color: #ffffff;
}

.btn-primary:focus {
    background-color: rgb(84, 84, 84) !important;
    border-color: #40a9ff;
    color: #ffffff;
}
