@page "/menuperfiladmin"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage
@inject employeeListUseCase employeeListUseCase
@inject NavigationManager Navegador

<DialogoConfirmacion @ref="dialogo" OnConfirmado="CerrarSesion"/>

<div class="dropdown" style="z-index: 10;">
    <i class='bx bxs-user-circle' style="font-size: 45px;cursor:pointer;color:black;" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" style="cursor:pointer;" @onclick=CargarPerfil>Mi perfil</a></li>
        <!--<li><a class="dropdown-item" href="verestadisticas">Ver estadisticas</a></li>-->
        <li><a class="dropdown-item" href="estadisticas">Ver estadisticas</a></li>
        <li><a class="dropdown-item" href="listarclientes">Listado de clientes</a></li>
        <li><a class="dropdown-item" href="sedes">Sedes</a></li>
        <li><a class="dropdown-item" href="registrarempleado">Registrar empleado</a></li>
        <li><a class="dropdown-item" href="cambiarcontraseña">Cambiar contraseña</a></li>
        <li><a class="dropdown-item" style="cursor:pointer;" @onclick="ConfirmarCerrarSesion">Cerrar sesión</a></li>
    </ul>
</div>

@code {

    Employee? employee = new Employee();
    DialogoConfirmacion dialogo = null!;

    protected override void OnInitialized() {
        employee = employeeListUseCase.Execute().Find(employee => employee.Id == 1);
    }

    public void CargarPerfil(){
        Navegador.NavigateTo("profileadmin/" + employee?.userName, true);
    }

    private void ConfirmarCerrarSesion() {
        dialogo.Mostrar("¿Seguro que deseas cerrar la sesión?");
    }

    public async Task CerrarSesion() {
        await sessionStorage.DeleteAsync("userId");
        await sessionStorage.DeleteAsync("isEmployee");
        Navegador.NavigateTo("/", true);
    }

}