@page "/menuperfiladmin"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage
@inject employeeListUseCase employeeListUseCase
@inject NavigationManager Navegador

<DialogoConfirmacion @ref="dialogo" OnConfirmado="CerrarSesion"/>

<div class="dropdown">
    <i class='bx bxs-user-circle' style="font-size: 40px;cursor:pointer;color:#0d6efd;" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" style="max-width: fit-content;" href="profileadmin/@employee?.userName">Mi perfil</a></li>
        <li><a class="dropdown-item" style="max-width: fit-content;" href="verestadisticas">Ver estadisticas</a></li>
        <li><a class="dropdown-item" style="max-width: fit-content;" href="registrarempleado">Registrar empleado</a></li>
        <li><a class="dropdown-item" style="max-width: fit-content;" href="cambiarcontraseña">Cambiar contraseña</a></li>
        <li><a class="dropdown-item" style="cursor:pointer;max-width: fit-content;" @onclick="ConfirmarCerrarSesion">Cerrar sesión</a></li>
    </ul>
</div>

@code {

    Employee? employee = new Employee();
    DialogoConfirmacion dialogo = null!;

    protected override void OnInitialized() {
        employee = employeeListUseCase.Execute().Find(employee => employee.Id == 1);
    }

    private void ConfirmarCerrarSesion() {
        dialogo.Mostrar("¿Seguro que deseas cerrar la sesión?");
    }

    public async Task CerrarSesion() {
        await sessionStorage.DeleteAsync("userId");
        await sessionStorage.DeleteAsync("isEmployee");
        Navegador.NavigateTo("/", true);
    }

}