.chart-container, .bar-container {
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    max-width: 600px; /* Ancho máximo para evitar que se extiendan demasiado */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Centra el contenido */
    margin-bottom: 40px; /* Espacio entre los contenedores de gráficos */
}