@page "/verestadisticas"
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Axes.Ticks
@using ChartJs.Blazor.Util
@using ChartJs.Blazor.BarChart
@using System.Drawing
@using Microsoft.AspNetCore.Components
@using System.Collections.Generic
@inject resolvedExchangeListUseCase resolvedExchangeListUseCase

<div class = "chart-container">
    <Chart Config="_config"></Chart>
</div>
<div class = "bar-container">
    <Chart Config="_barConfig"></Chart>
</div>

<div class="container">
  <p class="titulo"><strong><small>Tipo de transporte más intercambiado</small></strong></p>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Tipo:</div>
      <div class="col col-2">@exchanges[0].type</div>
      <div class="col col-3">Intercambios:</div>
      <div class="col col-4">@exchanges[0].exchanges</div>
    </li>
    @for(int i = 1; i < 7; i++){
        <li class="table-row">
        <div class="col col-1" data-label="Job Id">Tipo:</div>
        <div class="col col-2" data-label="Customer Name">@exchanges[i].type</div>
        <div class="col col-3" data-label="Amount">Intercambios:</div>
        <div class="col col-4" data-label="Payment Status">@exchanges[i].exchanges</div>
        </li>
    }
  </ul>
</div>

@code {
    private PieConfig _config;
    private BarConfig _barConfig;
    private listElement[] exchanges = new listElement[7]{new listElement("Auto"), new listElement("Camioneta"), new listElement("Ciclomotor"), new listElement("Crucero"), new listElement("Velero"), new listElement("Lancha"), new listElement("Catamaran")};
    List<ResolvedExchange> resolvedExchanges;

    protected override void OnInitialized()
    {
        resolvedExchanges = resolvedExchangeListUseCase.Execute();
        inicializarIntercambiosResueltos();
        
        inicializarIntercambiosPorSede();

        inicializarListaTransportes();
    }

    class listElement
    {
        public string type { get; set; }
        public int exchanges { get; set; }
        public listElement(string type){
            this.type = type;
        }
    }

    private void inicializarListaTransportes(){
        for(int i = 0; i < 7; i++){
            exchanges[i].exchanges = resolvedExchanges.Where(r => r.transporteOfertado.type == exchanges[i].type).Count();
            exchanges[i].exchanges += resolvedExchanges.Where(r => r.transportePosteado.type == exchanges[i].type).Count();
        }
        exchanges = exchanges.OrderByDescending(t => t.exchanges).ToArray();
    }

    private void inicializarIntercambiosResueltos () {
        _config = new PieConfig
        {
            Options = new PieOptions
            {
                Responsive = true,
                Title = new OptionsTitle()
                {
                    Display = true,
                    Text = "Intercambios concretados"
                },
            }
        };
        int concreted = resolvedExchanges.Where(r => r.happen).Count();
        int total = resolvedExchanges.Count();
        foreach (string color in new[] { "Concretados "+concreted/total*100+"% ", "No concretados "+(total-concreted)/total*100+"% " })
        {
            _config.Data.Labels.Add(color);
        }

        PieDataset<int> dataset = new PieDataset<int>(new[] {concreted, total-concreted})
        {
            BackgroundColor = new[]
            {
                ColorUtil.ColorHexString(3, 4, 94),
                ColorUtil.ColorHexString(0xCA, 0xF0, 0xF8),
            }
        };
        
        _config.Data.Datasets.Add(dataset);
    }

    private void inicializarIntercambiosPorSede () {
        _barConfig = new BarConfig(horizontal: false)
            {
                Options = new BarOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = "Cantidad de intercambios por sede"
                    },
                    Scales = new BarScales
                    {
                        YAxes = new List<CartesianAxis>
                        {
                            new LinearCartesianAxis
                            {
                                Ticks = new LinearCartesianTicks
                                {
                                    Min = 0,
                                    BeginAtZero = true
                                }
                            }
                        }
                    }
                    
                }
            };
        
        foreach (string color in new[] { "Sede 1", "Sede 2", "Sede 3", "Sede 4"})
        {
            _barConfig.Data.Labels.Add(color);
        }

        var barData = new BarDataset<int> (new List<int> {400, 100, 200, 300})
        {
            Label="Intercambios",
            BackgroundColor = ColorUtil.ColorHexString(0x3a, 0x0c, 0xa3),
            BorderColor = ColorUtil.ColorHexString(0x3a, 0x7c, 0xa5),
            BorderWidth = 1
        };

        _barConfig.Data.Datasets.Add(barData);
    }
}