@page "/verestadisticas"

<div>
El 80% de los apostadores se retiran antes de su mayor ganancia
</div>
<div>
La principal causa de divorcio es el matrimonio
</div>
<div>
Existen tres clases de personas, las que saben contar y las que no
</div>

@code {



}