@page "/verestadisticas"

<Div>
El 80% de los apostadores se retiran antes de su mayor ganancia
</Div>
<Div>
La principal causa de divorcio es el matrimonio
</Div>
<Div>
Existen tres clases de personas, las que saben contar y las que no
</Div>

@code {



}