@page "/"
@using OMB.Repositories
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject shipPostListUseCase shipPostListUseCase

@if(visible){
    <img src="@imageDataURL" width="100" height="100"/>
}

@foreach (var p in posts){
    <p>@p.Title</p> <br>
}

@code {
    OMBContext context = new OMBContext();
    byte[]? imageBytes;
    bool visible = false;
    string? imageDataURL;

    List<ShipPost> posts = new List<ShipPost>();
    List<byte[]> images = new List<byte[]>();

    private void ShowMe() {
        imageBytes = context.ShipImages.Where(s => s.Id == 1).SingleOrDefault().Image;
        var imagesrc= Convert.ToBase64String(imageBytes);
        imageDataURL = string.Format("data:image/jpeg;base64,{0}", imagesrc);
        visible = true;
    }

    protected override void OnInitialized() {
       posts = shipPostListUseCase.Execute();
   }
}
