@page "/login"
@inject NavigationManager navegador
@inject userListUseCase userListUseCase
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage

<DialogoError @ref=dialogo/>

<h1>Ingresá tus datos para loggearte!</h1>

<form>
    <div class="form-group">
        <input placeholder="Correo" @bind="mail" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Contraseña" @bind="password" class="form-control">
    </div>
    <button class="btn btn-primary" @onclick="Aceptar">Iniciar sesión</button>
</form>


@code {
    string mail = "";
    string password = "";
    User? usuario;
    DialogoError dialogo = null!;

    public async Task Save() {
        if (usuario != null)
            await sessionStorage.SetAsync("userId", usuario.Id);
    }
    
    async void Aceptar(){

        if ((string.IsNullOrEmpty(mail) || string.IsNullOrEmpty(password))) {
            dialogo.Mostrar("Complete los campos");
            return;
        }

        //Busco un usuario que tenga el mail y clave ingresados
        usuario = userListUseCase.Execute().Find(user => user.mail == mail && user.password == password);

        if (usuario == null) {
            dialogo.Mostrar("El mail y la contraseña ingresada no corresponden a un usuario registrado, intente nuevamente");
            return;
        }

        if (usuario.banned) {
            dialogo.Mostrar("Está cuenta ha sido banneada. Para más información presentese en alguna de las sucursales.");
            return;
        }
        
        await Save();

        navegador.NavigateTo("/", true);

    }
}
