@page "/login"
@inject NavigationManager NavigationManager
@inject userListUseCase userListUseCase
@inject IHttpContextAccessor? HttpContextAccessor

<DialogoError @ref="dialogo" Mensaje="@miMensaje"/>

<PageTitle>Login</PageTitle>

<h1>Ingresá tus datos para loggearte!</h1>

<input placeholder="Correo" @bind="mail" class="form-control">
<input type="password" placeholder="Contraseña" @bind="password" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    string mail = "";
    string password = "";
    User? usuario;
    DialogoError dialogo = null!;
    string miMensaje = "";

    void Aceptar() {
        
        if (validarDatos()) {
            miMensaje = "Complete los campos";
            dialogo.Mostrar();
            return;
        }
        //Busco un usuario que tenga el mail y clave ingresados
        usuario = userListUseCase.Execute().Where(user => user.mail == mail && user.password == password).SingleOrDefault();
        
        if (usuario != null) {

            //Esto crea una tupla en HttpContext.Session, en la que indico el id de la sesión iniciada
            if (HttpContextAccessor != null && HttpContextAccessor.HttpContext != null) {
                HttpContextAccessor.HttpContext.Session.SetString("UserId", usuario.Id.ToString());
            }

        }
    }

    //Si los datos tienen algún problema devuelve TRUE
    bool validarDatos () { 
        return (string.IsNullOrEmpty(mail) || string.IsNullOrEmpty(password));
    }
}
