.ship-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.ship-post {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ship-post-img {
  max-width: 100%; 
  height: 300px;
  object-fit: contain;
}

.ship-post-title {
  text-align: center;
  margin-top: 20px;
}

.ship-post-description {
  text-align: justify;
  margin: 20px 0;
  justify-content: center;
}

.ship-post-info {
  display: flex;
  justify-content: center;
}

.ship-post-info-item {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.texto_pausa {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-weight: 200;
  color: rgb(255, 163, 163)
}

.texto_pausa p {
    margin:0;
}