@page "/cambiarcontraseña"
@inject NavigationManager navegador
@inject userListUseCase userListUseCase
@inject modifyUserUseCase modifyUserUseCase
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage

<DialogoError @ref=dialogo/>

<h1>Cambiar clave</h1>

<form>
    <div class="form-group">
        <input type="password" placeholder="Clave actual" @bind="claveActual" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Nueva clave" @bind="nuevaClaveUno" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Repite la nueva clave" @bind="nuevaClaveDos" class="form-control">
    </div>
    <button class="btn btn-primary" @onclick="Aceptar" @onclick:preventDefault >Aceptar</button>
</form>

@code {
    String claveActual = "";
    String nuevaClaveUno = "";
    String nuevaClaveDos = "";
    int userId;
    User? usuario;
    DialogoError dialogo = null!;

    public async Task Read() {
        var result = await sessionStorage.GetAsync<int>("userId");
        userId = result.Success ? result.Value : 0;
        usuario = userListUseCase.Execute().Find(user => user.Id == userId);
    }
    
    async void Aceptar(){

        if (string.IsNullOrEmpty(claveActual) || string.IsNullOrEmpty(nuevaClaveUno) || string.IsNullOrEmpty(nuevaClaveDos)) {
            dialogo.Mostrar("Debe completar todos los campos");
            return;
        }

        await Read();

        if (usuario.password != claveActual) {
            dialogo.Mostrar("La clave ingresada es incorrecta");
            return;
        }

        if (nuevaClaveUno.Length < 8) {
            dialogo.Mostrar("La contraseña debe tener como mínimo 8 dígitos");
            return;
        }

        if (nuevaClaveUno != nuevaClaveDos) {
            dialogo.Mostrar("La nuevas claves ingresadas no coincide");
            return;
        }

        usuario.password = nuevaClaveUno;
        modifyUserUseCase.Execute(usuario);
        await sessionStorage.SetAsync("cartel?", "Cambio de contraseña exitoso");
        navegador.NavigateTo("/", true);

    }
}