@page "/login"
@inject NavigationManager navegador
@inject userListUseCase userListUseCase
@inject employeeListUseCase employeeListUseCase
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage

<DialogoError @ref=dialogo/>

<h1>Ingres치 tus datos para loggearte!</h1>

<form>
    <div class="form-group">
        <input placeholder="Correo" @bind="mail" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Contrase침a" @bind="password" class="form-control">
    </div>
    <button class="btn btn-primary" @onclick="Aceptar">Iniciar sesi칩n</button>
</form>


@code {
    string mail = "";
    string password = "";
    Employee? user;
    DialogoError dialogo = null!;

    public async Task Save(bool isEmployee) {
        if (user != null) {
            await sessionStorage.SetAsync("userId", user.Id);
            await sessionStorage.SetAsync("isEmployee", isEmployee);
        }
    }


    
    async void Aceptar(){

        if ((string.IsNullOrEmpty(mail) || string.IsNullOrEmpty(password))) {
            dialogo.Mostrar("Complete los campos");
            return;
        }

        user = employeeListUseCase.Execute().Find(user => user.mail == mail && user.password == password);

        if (user != null) {
            esEmpleado();
        }

        user = userListUseCase.Execute().Find(user => user.mail == mail && user.password == password);

        if (user != null) {
            esCliente();
        }

    }

    async void esEmpleado() {
        await Save(true);
        navegador.NavigateTo("/homeemployee", true);
    }

    async void esCliente() {

        var user = userListUseCase.Execute().Find(user => user.mail == mail && user.password == password);

        if (user != null && user.banned) {
            dialogo.Mostrar("El mail y la contrase침a ingresada no corresponden a un usuario registrado, intente nuevamente");
            return;
        }

        await Save(false);
        navegador.NavigateTo("/", true);
    }
}
