@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject NavigationManager navegador
@inject ProtectedSessionStorage sessionStorage

<DialogoConfirmacion @ref="dialogo" OnConfirmado="CerrarSesion"/>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (userId == 0) {

            <div class="top-row px-4">
                <a href="login" class="btn btn-primary">Login</a>
                <a href="register" class="btn btn-primary">Sign up</a>
            </div>

        }
        else {
  
            <div class="top-row px-4">
                <div class="dropdown">
                    <i class='bx bxs-user-circle' style="font-size: 40px;cursor:pointer;color:#0d6efd;" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="profile/@userId">Mi perfil</a></li>
                        <li><a class="dropdown-item" href="cambiarcontraseña">Cambiar contraseña</a></li>
                        <li><a class="dropdown-item" href="#" @onclick="ConfirmarCerrarSesion">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

<div id="blazor-error-ui">
    qué rompimo muchacho
    <a href="" class="reload">recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    int userId;
    DialogoConfirmacion dialogo = null!;
    protected override async Task OnInitializedAsync() {
        var result = await sessionStorage.GetAsync<int>("userId");
        userId = result.Success ? result.Value : 0;
    }

    private void ConfirmarCerrarSesion() {
        dialogo.Mostrar("¿Seguro que deseas cerrar la sesión?");
    }
    public async Task CerrarSesion() {

        await sessionStorage.DeleteAsync("userId");
        navegador.NavigateTo("/", true);
    }
}
