@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject ProtectedSessionStorage sessionStorage

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (userId == 0) {

            <div class="top-row px-4">
                <a href="login" class="btn btn-primary">Login</a>
                <a href="register" class="btn btn-primary">Sign up</a>
            </div>

        }
        else {

            <div class="top-row px-4">
            <a href="profile" class="btn btn-primary">Mi perfil</a>
            </div>

        }

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

<div id="blazor-error-ui">
    qué rompimo muchacho
    <a href="" class="reload">recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    //Esto no funciona pq read no se ejecuta, no encontre la forma de que se ejecute, después hay que ver por qué
    int userId;
    public async Task Read() {
        var result = await sessionStorage.GetAsync<int>("userId");
        userId = result.Success ? result.Value : 0;
    }

}
