* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blue_btn {
    background-color: #4f53d2;
    color: white;
    border: none;
}

.blue_btn:hover {
    background-color: #7074ee;
    color: white;
    border: none;
}

.blue_btn:active {
    background-color: #7074ee !important;
    color: white !important;
}

.blue_btn:focus {
    background-color: #7074ee;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.sub_title {
    position: relative;
    margin-top: 0.7rem;
    margin-bottom: 0.6rem;
    margin-left: 1rem;
}

.sub_title::after {
    position: absolute;
    left: 150px;
    top: 50%;
    content: "";
    width: calc(100% - 150px);
    height: 2px;
    background-color: black;
}

.sub_title::before {
    position: absolute;
    left: -1rem;
    top: 50%;
    content: "";
    width: calc(1rem - 7px);
    height: 2px;
    background-color: black;
}

.profile_card {
    background: #4348BD;
    width: 100%;
    padding: 3rem;
    margin: auto;
    margin-block: 1rem;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_card .profile_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
}

.profile_details .intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.profile_image {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
}

.profile_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.texto_ban {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 3rem;
    font-weight: 200;
    color: rgb(255, 163, 163)
}

.profile_details .intro h2{
    margin-top: 20px;
}

.profile_details .intro h5 {
    opacity: 0.9;
}


.profile_details .contact_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4f53d2;
    padding-inline: 3rem;
    padding-block: 1.5rem;
    border-radius: 10px;
    width: 100%;
}

.profile_details .contact_info .row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 10px 0;
    margin-bottom: 10px;
}

.contact_info .row .icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #4348BD;
    text-align: center;
    color:#fff;
    transition: 0.5s;
}

.row .icon:hover {
    transform:scale(1.2);
    border:1px solid rgba(255,255,255,0.1);
}

.row .content{
    max-width: fit-content;
}

/***Responsive Design ***/
@media(max-width:768px)
{
    .about{
        width: 1005;
        max-width: 400px;
        padding:1rem;
        margin:1rem;

    }
    .about h1{
        font-size: 2.2rem;
    }
    .about .work{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
    }
}